* {
  font-family: sans-serif;
}
/*article {
  background-color: #ddd;
}*/
.el-1 {
  background-color: blue;
  /*align-self: flex-start;*/
}
.el-2 {
  background-color: blueviolet;
}
.el-3 {
  background-color: red;
  /*align-self: flex-start;*/
  height: 150px;
}
.el-4 {
  background-color: yellow;
}
.el-5 {
  background-color: crimson;
  /* align-self: stretch;
  order: 1;*/
}
.el-6 {
  background-color: brown;
  /*order: -1;*/
}
.el-7 {
  background-color: green;
}
.el-8 {
  background-color: orange;
}
article {
}
.container {
  font-size: 30px;
  background-color: #ddd;
  width: 700px;
  margin: 40px;
  /*flex
  display: flex;
  align-items: center;
  justify-content: flex-start;*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 40px;
}

/*.el {
  
  "DEFAULTS"
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  
  flex-basis: 200px;
  flex-shrink: 0;
  flex-grow: 1;
}
*/
/*.container-1 {
  margin-bottom: 100px;
  font-size: 25px;
  margin: 40px;
  background-color: #ddd;
  display: flex;
}*/
.container-2 {
  display: none;
}
